/* Post */
.Post {
    background: transparent;
    border-bottom: 1px solid #ddd;
    width: 468px;
    min-height: 518px;
    margin: 12px 0 0 0;
    margin-left: 19%;
    justify-content: center;
}

/* Barra superior do post */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* elementos no post */
.BarraSuperior {
    height: 58px;
    display: flex;
    align-items: center;
}

.NomePerfilUser{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    color: rgb(38,38,38);
    margin-bottom: 8px;
}

.MenuBarraSuperior{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.ponto{
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
    color: rgb(115,115,115);
    line-height: 16px;
    font-size: 10px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tempo{
    display: inline;
    margin-bottom: 3px;
    color: rgb(115,115,115);
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* imagem*/
.ConteudoPost img{
    object-fit: cover;
    width: 467px;
    height: 545px;
    border-radius: 05px;
}

header img{
    border-radius: 20px;
    height: 32px;
    width: 32px;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

/* Barra inferior */

.MenuInferior{
padding: 10px 15px;
}

.barraInf{
    display: flex;
   justify-content: space-between;
}

/* icons */
.barraInf .icons-1{
    display: flex;
    gap: 16px;
}

.icon{
    cursor: pointer;
    font-size: 24px;
}

.icon:hover{
    color: #cacaca;
}

/* curtidas */
.likes{
    margin-top: 6px;
}

.likes span{
    font-size: 14px;
    font-weight: 600;
}
button{
    border: none;
    background: transparent;
}

/* legenda */
.legenda{
    margin-top: 6px;
    font-size: 14px;
}

.legenda strong{
    font-size: 14px;

}

/* comentario*/
.comentario input{
    width: 100%;
    border-style: none;
    font-size: 16px;
    background: #fafafa;
}

.comentario input:focus{
    outline-style: none;
}

.comentario {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex: 1;
}

.view-coment{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 15px;
    color: #6e6d6d;
}
